//! **************************************************************************
// Written by: Map P.20131013 on Tue Feb 21 11:33:41 2017
//! **************************************************************************

SCHEMATIC START;
COMP "A<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "A<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "A<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "A<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "B<0>" LOCATE = SITE "G3" LEVEL 1;
COMP "B<1>" LOCATE = SITE "F3" LEVEL 1;
COMP "B<2>" LOCATE = SITE "E2" LEVEL 1;
COMP "B<3>" LOCATE = SITE "N3" LEVEL 1;
COMP "fSout0" LOCATE = SITE "M5" LEVEL 1;
COMP "fSout1" LOCATE = SITE "M11" LEVEL 1;
COMP "fSout2" LOCATE = SITE "P7" LEVEL 1;
COMP "fSout3" LOCATE = SITE "P6" LEVEL 1;
COMP "Subtract" LOCATE = SITE "A7" LEVEL 1;
COMP "fcout" LOCATE = SITE "N5" LEVEL 1;
SCHEMATIC END;

